@{
    ViewData["Title"] = "Dungeons and Flagons";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Grab a tankard and join us!</h1>

    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Sources" asp-action="Index">Get the books!</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Spells" asp-action="Index">Learn the spells!</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Subraces" asp-action="Index">Meet the people!</a>
        </li>
    </ul>

</div>
