@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>What Personal Information We Collect</h2>

<li>
    When you create an account, buy a product or contact us we may collect a variety of information, including your name, mailing address, phone number, email address and credit card information.
</li>

<h2>How We Use Your Personal Information</h2>

<li>
    The information we collect allows us to keep you posted on our latest product announcements.
</li>
<li>
    We also use personal information to help us create, develop, operate, deliver, and improve our products, services, content and advertising, and for loss prevention and anti-fraud purposes.
</li>
<li>
    We may use your personal information, including date of birth, to verify identity and to assist with identification of users.
</li>
<li>
    From time to time, we may use your personal information to send important notices, such as communications about purchases and changes to our terms, conditions, and policies because this information is important to your interection with us.
</li>
<li>
    We may also use personal information for internal purposes such as data analysis to improve our services and communications.
</li>

<h2>Protection of Personal Information</h2>
<li>
    We take the security of your personal information very seriously.
</li>
<li>
    When you use some of our products, services, or aplications, or post on our forums, the personal information and content you share is visible to others users and can be read, collected or used by them, you are responsible for the personal information you choose to share or submit in these instances. For example, if you  list your name and email address in a posting, that information is public. Please take care when using these features.
</li>


<h2>Children Privacy</h2>

<li>
    We understand the importance of taking extra precautions to protect the privacy and safety of children using our products and services. To prove that, in the case that we learn that we have collected the personal information of a child under 13, or equivalent minimum age depending on jurisdiction, we will take steps to delete the information as soon as possible.
</li>

<h2>Third-Party Sites and Services</h2>

<li>
    Our products, applications and services may contain links to third-party websites, products and services. Our products and services may also use or offer products or services from third parties, such as Wizards of the Coast (WotC).
</li>
<li>
    Information collected by third parties, which may include such things as location data or contact details, is governed by their privacy practices. We encourage you to learn about the privacy practices of those third parties.
</li>